html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.content {
  background: white;
  width: 520px;
  padding: 30px;
}
.error {
  width: 520px;
  padding: 30px;
  margin-bottom: 50px;
  position: relative;
  background: white;
}
ul {
  list-style: none;
}
li {
  position: relative;
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px dotted #ccc;
}
li:last-child {
  border-bottom: none;
}
li time {
  font-size: 12px;
  padding-bottom: 20px;
}
